.main-header {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

td {
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
}

#a {
    list-style-type: lower-roman;
}

#b {
    list-style-type: lower-alpha;
}